name: CI/CD

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  pipeline:
    uses: BreadchainCoop/etherform/.github/workflows/_foundry-cicd.yml@implement-cicd-spec
    with:
      check-formatting: true
      test-verbosity: 'vvv'
      run-upgrade-safety: true
      deploy-on-pr: true
      deploy-on-main: false
      init-baseline-without-deploy: true
      create-release: true
    secrets: inherit
