name: CI

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  ci:
    # Reference the reusable workflow from etherform
    # Update the ref (branch/tag) as needed
    uses: BreadchainCoop/etherform/.github/workflows/_ci.yml@main
    with:
      check-formatting: true
      test-verbosity: 'vvv'
